.spinEdit {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;

	/* background-color: ButtonFace;
	color: ButtonText; */
	background: none;

	/* border-start-start-radius: 0.375em;
	border-end-start-radius: 0.375em;
	border-start-end-radius: 0.25em;
	border-end-end-radius: 0.25em; */
	border-start-start-radius: 0.25em;
	border-end-start-radius: 0.25em;
	border-start-end-radius: 0.125em;
	border-end-end-radius: 0.125em;
	/* clip-path: border-box; */
}
.spinEdit > :first-child {
	border-start-start-radius: inherit;
	border-end-start-radius: inherit;
	border-start-end-radius: 0em;
	border-end-end-radius: 0em;
}
.spinEdit > :last-child, .spinEdit > :last-child > :last-child {
	border-start-end-radius: inherit;
	border-end-end-radius: inherit;
}

.spinEdit input:first-of-type {
	box-sizing: border-box;
	/* border-style: solid; */

	text-align: right;
	/* vertical-align: text-bottom; */
	z-index: 1;
}
/* .spinEdit > input:first-of-type {
	flex-basis: ;
	vertical-align: text-top;
} */

.spinEdit:has(.buttonsArea) input:first-of-type {
	appearance: textfield;
}
.spinEdit:has(.buttonsArea) input:first-of-type::inner-spin-button, 
.spinEdit:has(.buttonsArea) input:first-of-type::outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
	display: none;
	opacity: 0;
}
.spinEdit:has(.buttonsArea) input:first-of-type::-webkit-inner-spin-button, 
.spinEdit:has(.buttonsArea) input:first-of-type::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
	display: none;
	opacity: 0;
}

.spinEdit .buttonsArea {
	background-color: ButtonFace;
	color: ButtonText;

	user-select: none;
	flex-basis: content;
	flex-shrink: 0.25;
	text-align: center;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap; /* ? */
	/* z-index: -1; */
}
.spinEdit .buttonsArea > * {
	touch-action: none;
	width: 1em;
	/* flex-basis: 1em; */
	/* flex-basis: auto; */
	flex-grow: 1;
	/* display: inline-block; */
	align-content: center;
}
.spinEdit .buttonsArea > *:hover,
.spinEdit .buttonsArea > *.hover {
	background-color: canvastext;
	color: canvas;
}
.spinEdit .buttonsArea:active {
	background-color: SelectedItem;
	color: SelectedItemText;
}
