/*general basic styles*/
:root {
	--page-scale: 1;
	font-size: calc(var(--page-scale, 1) * 1em);
	overflow-wrap: break-word; /*2024-08: fix for Chrome vs. Ffx layout differences and Chrome layout bug*/
}
/* :not(:root) {
	font-size: initial;
} */
/*body {
	display: flex;
	flex-direction: column;
	align-items: center;
}*/

/*unhide certain elements (outside of reader view)*/
main, hr, .bg {
	display: revert;
}

h1, h2, h3, h4, h5, h6 {
	margin-block-end: 0.75em;
}
div > h1:first-child {
	margin-block: 0em;
}
div.flex-row {
	margin-block: 1em;
}
.flex-row:first-child {
	margin-block-start: 0em;
}
details {
	margin-bottom: 1.5em;
}
noscript {
	font-size: 1.25em;
}

/*p {*/
	/*line-height: 125%;*/
	/*line-height: 1.5;*/
	/*line-height: 1.25em;*/
/*}*/
p, p * {
	hyphens: auto;
}
hr + :is(h1, h2, h3, h4, h5, h6), :is(h1, h2, h3, h4, h5, h6):first-child {
	margin-block-start: 0.25em;
}
:is(h1, h2, h3, h4, h5, h6) + p, p:first-child {
	margin-block-start: 0.5em;
}

#importForm, #inFile, a[hidden] {
	display: none;
}

input[type=number] {
	text-align: right;
	/* width: 8ch; */
}
input:is([type=number], [type=text])[size] {
	box-sizing: border-box;
}
/*inspired by Firefox sizing of input's*/
input:is([type=number], [type=text])[size="3"] {
	width: calc(2*5em/32 + 2ch + 3*1ch);
}
input:is([type=number], [type=text])[size="4"] {
	width: calc(2*5em/32 + 2ch + 4*1ch);
}
input:is([type=number], [type=text])[size="5"] {
	width: calc(2*5em/32 + 2ch + 5*1ch);
}
input:is([type=number], [type=text])[size="6"] {
	width: calc(2*5em/32 + 2ch + 6*1ch);
}
input:is([type=number], [type=text])[size="7"] {
	width: calc(2*5em/32 + 2ch + 7*1ch);
}
input:is([type=number], [type=text])[size="11"] {
	width: calc(2*5em/32 + 2ch + 11*1ch);
}
/*input[type=number]:not([size]) {
	width: 8ch;
}*/
/*input.exp:not([size]) {
	width: 8ch;
}*/
input[type=checkbox] {
	/* scale: var(--page-scale, 1); */
	width: 1em;
	height: 1em;
}
#txtRhythmFactors {
	text-align: right;
	width: 12ch;
}

.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.flex-row > *:not(wbr) {
	flex-grow: 1;
	flex-shrink: 1;
}
.flex-row > wbr {
	display: none;
}
.flex-row > .right {
	flex-basis: 32ch;
	flex-shrink: 2;
}
/*@media (min-width: 96ch) {
	.flex-row {
		flex-wrap: nowrap;
	}
}*/
.align-top {
	align-items: flex-start;
}
.cell, .chunk {
	display: inline-block;
}
.right {
	text-align: right;
}

.codeEditor {
	box-sizing: border-box;
	width: 100%;
	resize: none;
	overflow-y: auto;
	min-height: 8em;
	white-space: pre;
	tab-size: 4;
}
.codeEditor.expanded {
	height: unset;
}
.codeEditor.lineWrapping {
	white-space: pre-wrap;
}

#imgVisualizer {
	width: 100%;
	/*height: 6em;*/
	height: 96px;
}
#title-icon {
	height: 1em;
	width: auto;
}
#title-icon img {
	height: 1em;
	width: auto;
	vertical-align: text-bottom;
	/*vertical-align: middle;*/
}
html:not([lang|=en]) #translationWarning, html[lang|=en] .langStatic, html:not([lang|=en]) .langFlex {
	display: revert;
}
html[lang|=en] .langFlex, html:not([lang|=en]) .langStatic {
	display: none;
}

#tblFractionIntervals td:nth-child(1) {
	text-align: center;
}
#tblFractionIntervals td:nth-child(2) {
	text-align: center;
	/*white-space: break-spaces;*/
}
#tblFractionIntervals td:nth-child(3) {
	text-align: right;
}
