/*general cosmetic styles*/
:root {
	--hue-accent: 120; /*question: include deg unit for hues? (currently never)*/
	--hue-accent2: calc(var(--hue-accent) + 180);
	/*--img-filter1: ;*/
	/*--img-filter1: brightness(1);*/ /*placebo*/
	/*--img-hue-shift: 0deg;*/
	--img-hue-shift: calc(var(--hue-accent, 120)*1deg - 120deg);
	/*--img-filter: var(--img-filter1, none);*/
	font-family: 'Liberation Serif', 'Linux Libertine G', Cambria, 'Source Serif 4 Variable', 'Noto Serif', Constantia, 'Baskerville Old Face', Times, 'Times New Roman', 'DejaVu Serif Condensed', 'Bell MT', Garamond, 'Goudy Old Style', 'Georgia Pro', Georgia, serif;
}
/* html {
	position: relative;

	box-sizing: border-box;
	margin: 0px;
	border-width: 0px;
	
	width: 100%;
	height: 100%;
	min-height: 100%;
	padding: 0px;
} */
/* body {
	box-sizing: border-box;
	margin: 0px;
	border-width: 0px;
	
	width: 100%;
	height: 100%;
	padding: 0px;
} */
/* body > #wrapper {
	box-sizing: border-box;
	margin: 0px;
	border-width: 0px;
	
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0px;
} */

article, footer {
	/*max-width: 120ch;*/
	margin-inline: max(0ch, calc(50% - 0.5*120ch));
}
details > summary {
	cursor: pointer;
}

code:not(.long) { /*class "long" reserved for future use*/
	user-select: all;
}

button, input:not([type=radio]), select {
	font-size: 0.85em;
}
.spinEdit, :not(.spinEdit) > :is(button, input:not([type=checkbox]):not([type=radio]), select) {
	margin-block: 0.125em;
}
button {
	font-weight: bold;

	padding-block: 0.125em;
	padding-inline: 0.375em;
	border-radius: 0.25em;
}
button, input[type=number], input[type=text], textarea, select {
	border-width: calc(5em/32);
}
:is(button, input[type=number], input[type=text], textarea, select):not(:active):not(:focus):not(:hover) {
	opacity: 0.875;
}
input[type=number] {
	padding-inline: 0em;
}
input[type=text], textarea, select {
	border-radius: 0.125em 0.25em 0.25em 0.125em; /*left-aligned -> border slightly sharper at the left side*/
}
input[type=checkbox] {
	vertical-align: bottom;
	margin-inline: 0em;
}
input[type=number], #txtRhythmFactors {
	border-radius: 0.25em 0.125em 0.125em 0.25em; /*right-aligned -> border slightly sharper at the right side*/
}
input[type=checkbox] + label {
	/* vertical-align: middle; */
	margin-inline: 0.125em;
	padding-inline: 0.25em;
}

.cell {
	margin-inline: 0.375ch;
}
/* wbr:has(+ .cell:not(:first-of-type)) {
	border-inline-start-style: groove;
	border-inline-start-width: 0.125em;
} */
.separator {
	display: inline-block;
	width: 0.125em;
	height: 100%;
	background-color: GrayText;
	/* opacity: 0.5; */
}
:not(.cell) > .separator {
	/* border-inline-start-style: groove;
	border-inline-start-width: 0.125em; */
	/* border-inline-width: 0.25em; */
	/* margin-inline: 0.125em; */
}
.separator::after {
	content: "\A0";
}
wbr + .separator {
	margin-inline-start: 0.1875em;
}
.cell .separator {
	margin-inline-end: 0.25em;
}
#outAudioT {
	display: inline-block;
	min-width: 6ch;
	text-align: right;
}
.tool-tip {
	font-style: italic;

	z-index: 256;
	/*position: sticky;*/
	bottom: 0em;
	padding-block: 1em;
	padding-inline: max(2ch, calc(50% - 0.5*120ch));
	width: calc(100% - 2*2ch);
	max-width: 120ch;

	background-color: canvas;
}
code, .codeEditor {
	font-size: 0.8em;
}

img:not(.trueColors) { /*class "trueColors" reserved for future use*/
	/*filter: var(--img-filter, none);*/
	/*filter: hue-rotate(var(--img-hue-shift, 0deg));*/
	filter: var(--img-filter1, ) hue-rotate(var(--img-hue-shift, 0deg));
	/*filter: var(--img-filter1) hue-rotate(calc(var(--hue-accent, 120)*1deg - 120deg));*/
}

/*svg rect {*/
svg g {
	fill: url(#noteFill1);
}
td {
	padding: clamp(0em, calc(2.5vmin - 0.75em), 0.5em);
}
/* td:has(.interval-sample) { */ /*:has not supported in Firefox 114*/
td.sample-cell {
	padding: 0em;
	text-align: center;
	cursor: pointer;
}
