/*we live in an HDR/deep color era, so 24-bit color codes are a thing of the past.*/
/*question: alpha makes the page ready for custom backgrounds, but surely consumes more GPU.*/
:root {
	background-color: hsl(var(--hue-accent, 120), 25%, 96.875%);
	color: hsla(var(--hue-accent, 120), 25%, 0%, 0.9375);
	accent-color: hsl(var(--hue-accent, 120), 25%, 25%);
	color-scheme: light;
}
* {
	/*scrollbar-color: hsl(var(--hue-accent2, 300), 12.5%, 87.5%) hsl(var(--hue-accent2, 300), 25%, 12.5%);*/
	/*scrollbar-color: hsl(var(--hue-accent2, 300), 12.5%, 12.5%) hsl(var(--hue-accent2, 300), 12.5%, 93.75%);*/
	scrollbar-color:
		hsl(calc(var(--hue-accent2, 300) + var(--hue-scroll, 0)), 12.5%, 12.5%)
		hsl(calc(var(--hue-accent2, 300) + var(--hue-scroll, 0)), 12.5%, 93.75%);
}
*::-webkit-scrollbar {
	background-color: hsl(calc(var(--hue-accent, 120) + var(--hue-scroll, 0)), 12.5%, 93.75%);
	/* color: hsla(calc(var(--hue-accent, 120) + var(--hue-scroll, 0)), 25%, 75%); */
}
*::-webkit-scrollbar-thumb {
	background-color: hsl(calc(var(--hue-accent, 120) + var(--hue-scroll, 0)), 12.5%, 12.5%);
}
*::-webkit-scrollbar-track {
	background-color: hsl(calc(var(--hue-accent, 120) + var(--hue-scroll, 0)), 12.5%, 93.75%);
}
/* *::-webkit-scrollbar-track-piece {
	background-color: black;
} */
*::-webkit-scrollbar-corner {
	background-color: hsl(calc(var(--hue-accent, 120) + var(--hue-scroll, 0)), 12.5%, 93.75%);
}
/* *::-webkit-resizer {
	background-color: black;
	color: red;
	accent-color: red;
} */

body {
	font-weight: 500;
}
@media screen and not (prefers-reduced-motion: reduce) {
	:root::selection, *::selection { /*not really working*/
		transition-property: background-color, color !important;
		transition-duration: 0.25s !important;
	}
}
/*::selection {*/
:not(code):not(code *):not(.codeEditor):not(.codeEditor *)::selection { /*bugfix for Blink*/
	/*background-color: hsla(var(--hue-accent, 120), 0%, 0%, 0.9375);
	color: hsla(var(--hue-accent, 120), 0%, 100%, 0.875);*/
	background-color: hsla(calc(var(--hue-accent, 120) + var(--hue-anim, 0)), 0%, 0%, 0.9375);
	color: hsla(calc(var(--hue-accent, 120) + var(--hue-anim, 0)), 0%, 100%, 0.875);
}

strong {
	color: black;
}
/*h1::selection, h2::selection, h3::selection, strong::selection, em::selection {*/
:is(h1, h1 *, h2, h2 *, h3, h3 *, strong, strong *, em, em *)::selection {
	background-color: hsl(var(--hue-accent, 120), 0%, 0%) !important;
	color: hsl(var(--hue-accent, 120), 0%, 100%) !important;
}

noscript, #translationWarning {
	color: hsl(0, 100%, 12.5%);
}
hr {
	border-color: hsla(var(--hue-accent, 120), 0%, 50%, 0.9375);
}
.separator {
	background-color: hsla(var(--hue-accent, 120), 0%, 50%, 0.9375);
}
table, caption {
	background-color: hsla(0, 0%, 50%, 0.25);
}
td {
	background-color: hsla(0, 0%, 100%, 0.5);
}

/*.codeEditor::selection, .codeEditor *::selection, code::selection {*/
:is(.codeEditor, .codeEditor *, code, code *)::selection {
	background-color: hsla(var(--hue-accent2, 300), 100%, 93.75%, 1) !important;
	color: hsla(var(--hue-accent2, 300), 100%, 6.25%, 0.9375) !important;
}
:is(strong code, strong code *, em code, em code *, code strong, code strong *, code em, code em *, .codeEditor strong, .codeEditor strong *, .codeEditor em, .codeEditor em *)::selection {
	color: hsl(var(--hue-accent2, 300), 100%, 6.25%) !important;
}

a:link {
	color: hsla(var(--hue-accent, 120), 50%, 12.5%, 0.9375);
}
a:visited {
	color: hsla(30, 50%, 25%, 0.9375);
}
a:active {
	color: hsl(var(--hue-accent, 120), 100%, 12.5%);
}

input::selection {
	background-color: hsla(var(--hue-accent, 120), 0%, 0%, 0.75);
	color: hsla(var(--hue-accent, 120), 0%, 100%, 0.875);
}
button {
	/*background-color: hsl(var(--hue-accent, 120), 0%, 25%);
	color: hsl(var(--hue-accent, 120), 0%, 75%);*/
	background-color: hsl(var(--hue-accent, 120), 25%, 93.75%);
	color: hsl(var(--hue-accent, 120), 50%, 6.25%);

	border-style: solid;
	border-top-color: hsla(var(--hue-accent, 120), 0%, 100%, 1);
	border-right-color: hsla(var(--hue-accent, 120), 0%, 50%, 0.25);
	border-left-color: hsla(var(--hue-accent, 120), 0%, 50%, 0.25);
	border-bottom-color: hsla(var(--hue-accent, 120), 0%, 0%, 0.625);
}
button:active {
	border-top-color: hsla(var(--hue-accent, 120), 0%, 0%, 0.25);
	border-bottom-color: hsla(var(--hue-accent, 120), 0%, 100%, 0.5);
}
input[type=number], input[type=text], textarea, select {
	background-color: hsl(var(--hue-accent, 120), 12.5%, 93.75%);
	color: hsl(var(--hue-accent, 120), 12.5%, 6.25%);

	border-style: solid;
	border-top-color: hsla(var(--hue-accent, 120), 0%, 0%, 0.625);
	border-right-color: hsla(var(--hue-accent, 120), 0%, 50%, 0.25);
	border-left-color: hsla(var(--hue-accent, 120), 0%, 50%, 0.25);
	border-bottom-color: hsla(var(--hue-accent, 120), 0%, 100%, 1);

	/*border-image-source: linear-gradient(to bottom,
		hsla(var(--hue-accent, 120), 0%, 25%, 0.75),
		hsla(var(--hue-accent, 120), 0%, 50%, 0.5),
		hsla(var(--hue-accent, 120), 0%, 75%, 0.75));
	border-image-repeat: stretch;
	border-image-slice: 15%;*/
}
/*input:invalid {*/
input.invalid {
	background-color: hsl(0, 100%, 87.5%) !important;
}

.tool-tip {
	background-color: hsla(var(--hue-accent, 120), 0%, 100%, 0.875);
}

.codeEditor {
	background-color: hsla(var(--hue-accent, 120), 0%, 87.5%, 0.625);
	color: hsla(var(--hue-accent, 120), 25%, 0%, 0.9375);
}
.codeEditor.invalid {
	background-color: hsla(0, 100%, 87.5%, 0.875);
}

#imgVisualizer {
	background-color: hsla(0, 0%, 100%, 0.5);
}
linearGradient#noteFill1 stop {
	/* stop-color: hsla(var(--hue-accent2, 300), 0%, 0%, 0.875); */
	stop-color: hsl(var(--hue-accent2, 300), 0%, 0%);
}
