@property --hue1 {
	syntax: "<number>";
	inherits: true;
	initial-value: 0.5;
}
@keyframes hueShift {
	0% {
		--hue1: 0.0;
	}
	100% {
		--hue1: 6.0;
	}
}
:root {
	--hue-phase: 41deg; /*red = ~41deg*/
	--hue1-ang: 0deg;
	--hue1-ang: calc(60deg * var(--hue1, 0) + var(--hue-phase, 0deg));

	/* --gain-balance: display-p3 calc(r*30/32) calc(g*27/32) b; */
	--gain-balance: display-p3 r g b;
	--shade-b: color(display-p3 0 0 0 / 0.75);
	/* --shade-w: color(display-p3 calc(30/32) calc(27/32) 1 / 0.75); */
	--shade-w: color(display-p3 1 1 1 / 0.75);

	/*box-shadow values: bottom-right, top-left, etc.*/
	--sh-br: 0.0625em 0.0625em;
	--sh-tl: -0.0625em -0.0625em;
	--sh-thin: 0.0625em -0.0625em;
	--sh-thick: 0.125em -0.0625em;

	--page-scale: 1.25;
	/*for testing*/
	/* --page-scale: 0.25; */
	/* --page-scale: 0.5; */
	/* --page-scale: 1; */
	/* --page-scale: 2; */
	/* --page-scale: 3; */
	font-size: calc(var(--page-scale, 1) * 1em);

	color-scheme: dark;

	background-color: color(from oklch(0.125 0.0625 var(--hue1-ang, 0deg)) var(--gain-balance));
	color: color(from oklch(0.875 0.0625 var(--hue1-ang, 0deg)) var(--gain-balance));
	accent-color: color(from oklch(0.375 0.125 var(--hue1-ang, 0deg)) var(--gain-balance));

	animation-name: hueShift;
	animation-duration: 90s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
body {
	font-variant: slashed-zero;
	overflow-wrap: break-word; /*2024-08: fix for Chrome vs. Ffx layout differences and Chrome layout bug*/
}

::selection {
	background-color: color(from oklch(0.875 0.25 var(--hue1-ang, 0deg)) var(--gain-balance));
	color: color(from oklch(0.125 0.25 var(--hue1-ang, 0deg)) var(--gain-balance));
}
::marker {
	color: color(from oklch(0.75 0.0625 var(--hue1-ang, 0deg)) var(--gain-balance));
}

h1 {
	font-size: 3em;
	line-height: 0.8;
	text-align: center;
	color: color(from oklch(0.875 0.125 var(--hue1-ang, 0deg)) var(--gain-balance));
}
h1 small {
	font-size: 0.6em;
	font-variant: small-caps;
}
h1:first-of-type + p {
	font-variant: small-caps;
}

a:link {
	color: color(from oklch(0.75 0.25 calc(var(--hue1-ang, 0deg) - 30deg)) var(--gain-balance));
}
a:visited {
	color: color(from oklch(0.75 0.125 calc(var(--hue1-ang, 0deg) - 30deg)) var(--gain-balance));
}
a:hover {
	color: color(from oklch(0.75 0.125 calc(var(--hue1-ang, 0deg) + 30deg)) var(--gain-balance));
}
a:active, a:focus {
	color: color(from oklch(0.75 0.25 calc(var(--hue1-ang, 0deg) + 30deg)) var(--gain-balance));
}

details {
	margin-block: 1em;
	margin-inline: 0.5em;
}
details[open] {
	background-color: color(from oklch(0.375 0.0625 var(--hue1-ang, 0deg)) var(--gain-balance));

	border-radius: 0em 0.75em 0.25em 0.25em;
}
details > summary:first-of-type {
	cursor: pointer;
	padding-inline: 0.5em;
}
/* details[open] > :not(summary:first-of-type) {
	margin-inline: 1em;
}
details[open] > :last-child {
	border-block-end: solid transparent 1em;
} */
details > .details-main {
	/* border-block-end-style: solid;
	border-block-end-width: -1em;
	border-block-end-color: transparent; */
	/* padding-block-end: 1em; */
	/* margin-inline: 1em; */
	padding: 1em;
}
details > .details-main > :first-child {
	margin-block-start: 0em;
}
details > .details-main > :last-child {
	margin-block-end: 0em;
}

summary:has(.marker) {
	list-style-type: none;
}
.marker {
	/* vertical-align: middle; */
	/* vertical-align: top; */
	display: inline-block;
	width: 1em;
	text-align: end;

	user-select: none;
	color: color(from oklch(0.625 0.0625 var(--hue1-ang, 0deg)) var(--gain-balance));
}
.marker::after {
	/* content: "▸"; */
	content: "▶";
	/* content: "►"; */
}
/* details[open] > summary:first-of-type::marker {
	content: "x";
} */
details[open] > summary:first-of-type > .marker {
	color: color(from oklch(0.875 0.0625 var(--hue1-ang, 0deg)) var(--gain-balance));
	rotate: -0.75turn;
	/* transform: rotateZ(-0.75turn); */
}

label {
	cursor: pointer;
}
input, textarea, button, select {
	font-size: inherit;
}
input:is(/* [type=date], [type=datetime-local], */ [type=email], [type=file], [type=hidden], [type=month], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=datetime]), textarea, button, select {
	border-start-start-radius: 0.125em;
	border-start-end-radius: 0.3125em;
	border-end-start-radius: 0.125em;
	border-end-end-radius: 0.3125em;
}
input:not(:is([type=checkbox], [type=radio], [type=range])), textarea, button, select {
	border-width: 0.0625em;
	padding: 0.125em;

	/* background-color: oklch(0.25 0.0625 var(--hue1-ang, 0deg));
	color: oklch(0.75 0.0625 var(--hue1-ang, 0deg)); */
	background-color: color(from oklch(0.25 0.0625 var(--hue1-ang, 0deg)) var(--gain-balance));
	color: color(from oklch(0.75 0.0625 var(--hue1-ang, 0deg)) var(--gain-balance));
}
input[type=checkbox], input[type=radio] {
	/* block-size: 1em; */
	/* inline-size: 1em; */
	/* vertical-align: baseline; */
	vertical-align: middle;
	block-size: 1cap;
	inline-size: 1cap;
	margin-inline: 0em;
	color: inherit;
}
input[type=checkbox] + label, input[type=radio] + label {
	/* vertical-align: middle; */
	/* margin-inline: 0.125em; */
	padding-inline: 0.25em;
	/* @starting-style {
		color: color(from oklch(0.75 0.03125 var(--hue1-ang, 0deg)) var(--gain-balance));
	} */
}
input:is([type=checkbox], input[type=radio]):not(:checked) + label {
	color: color(from oklch(0.75 0.03125 var(--hue1-ang, 0deg)) var(--gain-balance));
}
input:is([type=checkbox], input[type=radio]):checked + label {
	color: color(from oklch(0.875 0.1875 var(--hue1-ang, 0deg)) var(--gain-balance));
}
input[type=number] {
	width: 8ch;
	text-align: right;
	border-start-start-radius: 0.3125em;
	border-start-end-radius: 0.125em;
	border-end-start-radius: 0.3125em;
	border-end-end-radius: 0.125em;
}
input[type=range] {
	vertical-align: middle;
	scale: var(--page-scale, 1);
	height: 1em;

	--length: 8;
	width: calc(1em * var(--length, 8) / var(--page-scale, 1));
	margin-inline: calc(0.5em + 0.5em * var(--length, 8) * (1 - 1 / var(--page-scale, 1)));
	/* box-sizing: border-box; */
}

input:is([type=button], [type=submit], [type=reset]), button {
	border-color: color(from oklch(0.5 0.0625 var(--hue1-ang, 0deg)) var(--gain-balance));
	/* padding: 0.25em; */
	font-size: 0.9rem;
	font-variant: small-caps;
}
:is(input:is([type=button], [type=submit], [type=reset]), button):is(:hover, :focus) {
	border-color: color(from oklch(0.5 0.125 var(--hue1-ang, 0deg)) var(--gain-balance));
	background-color: color(from oklch(0.25 0.125 var(--hue1-ang, 0deg)) var(--gain-balance));
	color: color(from oklch(0.875 0.0625 var(--hue1-ang, 0deg)) var(--gain-balance));
}
:is(input:is([type=button], [type=submit], [type=reset]), button):active:hover {
	color: color(from oklch(0.75 0.0625 var(--hue1-ang, 0deg)) var(--gain-balance));
}

/* .fields-list > li > :is(.title, .value) { */
.fields-list > li, .fields-list > li > .title {
	user-select: all;
}
.fields-list > li > .value, .trade-features-list > li > .value, .article-description {
	color: color(from oklch(0.75 0.0625 var(--hue1-ang, 0deg)) var(--gain-balance));
}
.trades-list > li > .trade-title {
	font-weight: bolder;
}
.trade-features-list > li > .field {
	font-variant: small-caps;
	/* font-weight: bolder; */
}
.trade-features-list > li > .value {
	user-select: all;
}
/* .gameUpgrade[data-cost-var]::after {
	content: " " attr(data-cost-var) " " attr(data-cost-val);
} */

#outWpRndArticle {
	pointer-events: none;
}
#outWpRndArticle:empty, #outWpRndArticle.stalled {
	color: color(from oklch(0.5 0.0625 var(--hue1-ang, 0deg)) var(--gain-balance));
}
#outWpRndArticle:empty::before, #outWpRndArticle.stalled::before {
	font-variant: small-caps;
	content: "uhm... Loading? ";
}
#wpRndInfoCard > .title-item > ul {
	user-select: all;
	font-size: 0.8em;
}
#lstWpRndHistory {
	font-size: 0.8em;
}
#lstWpRndHistory:empty::before {
	color: color(from oklch(0.5 0.0625 var(--hue1-ang, 0deg)) var(--gain-balance));
	font-variant: small-caps;
	content: "(empty)";
}

@media not all and (prefers-reduced-motion: reduce) {
	details > summary:first-of-type {
		transition-property: text-shadow;
		transition-duration: 0.5s;
	}
	.marker {
		transition-property: opacity, rotate;
		transition-duration: 1s;
	}
	input[type=checkbox] + label, input[type=radio] + label {
		transition-property: color;
		transition-duration: 0.5s;
	}
	input:is([type=button], [type=submit], [type=reset]), button {
		transition-property: background-color, color, box-shadow;
		transition-duration: 0.1875s;
	}
}

/* @media not all and (prefers-reduced-transparency: reduce) { */
@media all and (prefers-reduced-transparency: no-preference) {
	::marker {
		color: color(from currentColor display-p3 r g b / 0.8);
	}
	h1 {
		opacity: 0.8;
		text-shadow: 0 0 0.125em color(from oklch(0.75 0.25 calc(var(--hue1-ang, 0deg) + 30deg)) var(--gain-balance) / 1);
	}
	details[open] {
		background-color: color(from oklch(0.875 0.0625 var(--hue1-ang, 0deg)) var(--gain-balance) / 0.25);
	
		outline-style: solid;
		outline-width: 0.25em;
		outline-color: color(from oklch(0.5 0.0625 var(--hue1-ang, 0deg)) var(--gain-balance) / 0.375);
	}
	details[open] > summary:first-of-type {
		/* text-shadow: 0 0 0.5em color(from oklch(0.875 0.0625 var(--hue1-ang, 0deg)) var(--gain-balance)); */
		text-shadow:
			0 0 0.125em color(from oklch(0.0 0.0625 var(--hue1-ang, 0deg)) var(--gain-balance) / 1),
			0 0 0.5em color(from oklch(0.0 0.0625 var(--hue1-ang, 0deg)) var(--gain-balance) / 1);
	}
	.marker {
		color: revert;
		opacity: 0.6;
	}
	details[open] > summary:first-of-type > .marker {
		color: revert;
		opacity: 0.9;
	}
	input:not(:is([type=checkbox], [type=radio], [type=range])), textarea, button, select {
		border-width: 0em;
		/* border-style: solid;
		border-color: transparent; */
		/* box-sizing: content-box; */
		padding: 0.1875em;
	}
	input:is([type=checkbox], input[type=radio]):not(:checked) + label {
		color: color(from oklch(0.875 0.0625 var(--hue1-ang, 0deg)) var(--gain-balance) / 0.8);
	}
	input:is([type=button], [type=submit], [type=reset]), button {
		box-shadow:
			inset var(--sh-br) var(--sh-thin) var(--shade-w, white),
			inset var(--sh-tl) var(--sh-thin) var(--shade-b, black),
			var(--sh-tl) var(--sh-thin) var(--shade-w, white),
			var(--sh-br) var(--sh-thin) var(--shade-b, black);
	}
	:is(input:is([type=button], [type=submit], [type=reset]), button):active:hover {
		box-shadow:
			inset var(--sh-br) var(--sh-thin) var(--shade-b, black),
			inset var(--sh-tl) var(--sh-thin) var(--shade-w, white),
			var(--sh-tl) var(--sh-thick) var(--shade-b, black),
			var(--sh-br) var(--sh-thick) var(--shade-w, white);
	}
	.fields-list > li > .value, .trade-features-list > li > .value, .article-description {
		color: revert;
		opacity: 0.8;
	}
	#outWpRndArticle:empty, #outWpRndArticle.stalled, #lstWpRndHistory:empty::before {
		color: revert;
		opacity: 0.6;
	}
}
