/*we live in an HDR/deep color era, so 24-bit color codes are a thing of the past.*/
/*question: alpha makes the page ready for custom backgrounds, but surely consumes more GPU.*/
:root {
	--img-filter1: invert(87.5%)/* hue-rotate(180deg)*/;
	--img-hue-shift: calc(var(--hue-accent, 120)*1deg + 180deg - 120deg);

	background-color: hsl(var(--hue-accent, 120), 37.5%, 75%);
	color: hsla(var(--hue-accent, 120), 0%, 0%, 0.875);
	accent-color: hsl(var(--hue-accent, 120), 50%, 37.5%);
	color-scheme: light;
}
* {
	/*scrollbar-color: hsla(var(--hue-accent, 120), 37.5%, 62.5%, 0.875) hsla(var(--hue-accent, 120), 25%, 87.5%, 0.875);*/
	/*scrollbar-color: hsla(var(--hue-accent, 120), 37.5%, 25%, 0.875) hsla(var(--hue-accent, 120), 25%, 75%, 0.875);*/
	scrollbar-color:
		hsla(calc(var(--hue-accent, 120) + var(--hue-scroll, 0)), 37.5%, 25%, 0.875)
		hsla(calc(var(--hue-accent, 120) + var(--hue-scroll, 0)), 25%, 75%, 0.875);

}
*::-webkit-scrollbar {
	background-color: hsla(calc(var(--hue-accent, 120) + var(--hue-scroll, 0)), 25%, 75%, 0.875);
	/* color: hsla(calc(var(--hue-accent, 120) + var(--hue-scroll, 0)), 25%, 25%, 0.875); */
}
*::-webkit-scrollbar-thumb {
	background-color: hsla(calc(var(--hue-accent, 120) + var(--hue-scroll, 0)), 37.5%, 25%, 0.875);
}
*::-webkit-scrollbar-track {
	background-color: hsla(calc(var(--hue-accent, 120) + var(--hue-scroll, 0)), 25%, 75%, 0.875);
}
/* *::-webkit-scrollbar-track-piece {
	background-color: black;
} */
*::-webkit-scrollbar-corner {
	background-color: hsla(calc(var(--hue-accent, 120) + var(--hue-scroll, 0)), 25%, 75%, 0.875);
}
/* *::-webkit-resizer {
	background-color: black;
	color: red;
	accent-color: red;
} */

/* body {
} */
@media screen and not (prefers-reduced-motion: reduce) {
	:root::selection, *::selection { /*not really working*/
		transition-property: background-color, color !important;
		transition-duration: 0.25s !important;
	}
}
/*::selection {*/
:not(code):not(code *):not(.codeEditor):not(.codeEditor *)::selection { /*bugfix for Blink*/
	/*background-color: hsla(var(--hue-accent, 120), 100%, 12.5%, 0.625);
	color: hsla(var(--hue-accent, 120), 100%, 87.5%, 0.875);*/
	background-color: hsla(calc(var(--hue-accent, 120) + var(--hue-anim, 0)), 100%, 12.5%, 0.625);
	color: hsla(calc(var(--hue-accent, 120) + var(--hue-anim, 0)), 100%, 87.5%, 0.875);
}

strong {
	color: black;
}
/*h1::selection, h2::selection, h3::selection, strong::selection, em::selection {*/
:is(h1, h1 *, h2, h2 *, h3, h3 *, strong, strong *, em, em *)::selection {
	background-color: hsla(var(--hue-accent, 120), 100%, 12.5%, 0.75) !important;
	color: hsl(var(--hue-accent, 120), 100%, 87.5%) !important;
}

noscript, #translationWarning {
	color: hsl(0, 100%, 12.5%);
}
hr {
	border-color: hsla(var(--hue-accent, 120), 25%, 50%, 0.75);
}
.separator {
	background-color: hsla(var(--hue-accent, 120), 25%, 50%, 0.75);
}
table, caption, td {
	background-color: hsla(0, 0%, 100%, 0.25);
}

/*.codeEditor::selection, .codeEditor *::selection, code::selection {*/
:is(.codeEditor, .codeEditor *, code, code *)::selection {
	background-color: hsla(var(--hue-accent2, 300), 50%, 87.5%, 0.75) !important;
	color: hsla(var(--hue-accent2, 300), 100%, 12.5%, 0.875) !important;
}
:is(strong code, strong code *, em code, em code *, code strong, code strong *, code em, code em *, .codeEditor strong, .codeEditor strong *, .codeEditor em, .codeEditor em *)::selection {
	background-color: hsla(var(--hue-accent2, 300), 50%, 87.5%, 0.875) !important;
	color: hsl(var(--hue-accent2, 300), 100%, 12.5%) !important;
}

a:link {
	color: hsla(var(--hue-accent, 120), 100%, 12.5%, 0.875);
}
a:visited {
	color: hsla(30, 75%, 25%, 0.875);
}
a:active {
	color: hsl(var(--hue-accent, 120), 100%, 12.5%);
}

input::selection {
	background-color: hsla(var(--hue-accent, 120), 25%, 12.5%, 0.75);
	color: hsla(var(--hue-accent, 120), 100%, 87.5%, 0.875);
}
button {
	/*background-color: hsl(var(--hue-accent, 120), 0%, 25%);
	color: hsl(var(--hue-accent, 120), 0%, 75%);*/
	background-color: hsl(var(--hue-accent, 120), 37.5%, 81.25%);
	color: hsl(var(--hue-accent, 120), 50%, 25%);

	border-style: solid;
	border-top-color: hsla(var(--hue-accent, 120), 25%, 25%, 0.75);
	border-right-color: hsla(var(--hue-accent, 120), 25%, 62.5%, 0.5);
	border-left-color: hsla(var(--hue-accent, 120), 25%, 62.5%, 0.5);
	border-bottom-color: hsla(var(--hue-accent, 120), 25%, 87.5%, 0.75);
}
button:active {
	border-top-color: hsla(var(--hue-accent, 120), 25%, 87.5%, 0.25);
	border-bottom-color: hsla(var(--hue-accent, 120), 25%, 25%, 0.25);
}
input[type=number], input[type=text], textarea, select {
	background-color: hsl(var(--hue-accent, 120), 50%, 87.5%);
	color: hsl(var(--hue-accent, 120), 50%, 12.5%);

	border-style: solid;
	border-top-color: hsla(var(--hue-accent, 120), 25%, 87.5%, 0.625);
	border-right-color: hsla(var(--hue-accent, 120), 25%, 50%, 0.5);
	border-left-color: hsla(var(--hue-accent, 120), 25%, 50%, 0.5);
	border-bottom-color: hsla(var(--hue-accent, 120), 25%, 25%, 0.625);

	/*border-image-source: linear-gradient(to bottom,
		hsla(var(--hue-accent, 120), 25%, 25%, 0.75),
		hsla(var(--hue-accent, 120), 25%, 50%, 0.5),
		hsla(var(--hue-accent, 120), 25%, 75%, 0.75));
	border-image-repeat: stretch;
	border-image-slice: 15%;*/
}
/*input:invalid {*/
input.invalid {
	background-color: hsl(0, 100%, 87.5%) !important;
}

.tool-tip {
	background-color: hsla(var(--hue-accent, 120), 25%, 87.5%, 0.875);
}

.codeEditor {
	background-color: hsla(var(--hue-accent, 120), 12.5%, 0%, 0.625);
	color: hsl(var(--hue-accent, 120), 25%, 100%);
	scrollbar-color: hsla(var(--hue-accent, 120), 37.5%, 75%, 0.875) hsla(var(--hue-accent, 120), 25%, 25%, 0.875);
}
.codeEditor.invalid {
	background-color: hsla(0, 100%, 25%, 0.75);
}

#imgVisualizer {
	background-color: hsla(0, 0%, 100%, 0.25);
}
linearGradient#noteFill1 stop {
	/* stop-color: hsla(var(--hue-accent2, 300), 75%, 25%, 0.875); */
	stop-color: hsl(var(--hue-accent2, 300), 75%, 25%);
}
